---
layout: default
pagination:
  data: pages
  size: 1
  alias: currentPage
permalink: "projects/{{page.fileSlug}}/{% if pagination.pageNumber > 0 %}{% if pagination.items[0].id %}{{ pagination.items[0].id }}{% else %}{{ pagination.items[0].label | slug }}{% endif %}/{% endif %}"
---
<main class="project section--top section--bottom">
    {% if express %}
    <div class="express-icon">
        <a class="express-icon__link" href="{{ '/express' | url }}">
            <svg class="express-icon__svg" viewBox="0 0 24 42" width="30" height="42" title="Экспресс-дизайн" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#999" stroke-miterlimit="8" stroke-width="1.2"><polygon points="20,2 15,18 25,20 3,40 10,22 0,20"></polygon></svg>
        </a>
    </div>
    {% endif %}
    {% if pagination.hrefs|length > 1 %}
    <ul class="project-links container" data-existing-hx="h1">
        {% for link in pagination.hrefs %}
        <li class="project-links__item">
            <a class="project-links__link"{% if pagination.pageNumber === (loop.index - 1) %} aria-selected="true"{% else %} href="{{link}}"{% endif %}>{{pages[loop.index - 1].label}}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <article class="project-page{% if currentPage.tabs|length > 1 %} js-tabs{% endif %}">
        <h1 class="project-page__heading container">{% if url %}<a class="link--solid" href="{{url}}?utm_source=lepekhin.art&utm_medium=portfolio" target="_blank">{{title}}</a>{% else %}{{currentPage.heading}}{% endif %}</h1>
        {% if currentPage.tabs|length > 1 %}
        <ul class="project-tabs container js-tablist" data-hx="h2">
            {% for tab in currentPage.tabs %}
            <li class="project-tabs__item js-tablist__item">
                <a class="project-tabs__link js-tablist__link" href="#{{ tab.id if (tab.id | length > 0) else (tab.label | slug) }}">{{tab.label}}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if currentPage.archive %}<p class="project-tab__archived">Проект в архиве</p>{% endif %}
        {% for tab in currentPage.tabs %}
        <div class="project-tabs__body{% if currentPage.tabs|length > 1 %} js-tabcontent{% endif %}" id="{{ tab.id if (tab.id | length > 0) else (tab.label | slug) }}">
            {% for section in tab.body_list %}
            <div class="project-body__block project-body__block--{{section.type}}">
                {% if section.type === 'paragraph' %}
                <p class="container container--single">{{ section.text | nl2br | safe }}</p>
                {% elseif section.type === 'link' %}
                <p class="container container--single">
                    <a class="link--solid" href="{{ section.url }}?utm_source=lepekhin.art&utm_medium=portfolio">{{ section.link if (section.link|length > 0) else section.url }}</a>
                    {% if section.label|length %}
                    <span class="color--gray">— {{section.label}}</span>
                    {% endif %}
                </p>
                {% elseif section.type === 'wide' %}
                <img class="project-body__image project-body__image--wide{% if section.margins %} project-body__image--margins{% endif %}" src="{{section.image}}" alt="{{section.alt}}" loading="lazy">
                {% elseif section.type === 'columns' %}
                <div class="project-body__columns">
                    <div class="project-body__column project-body__column--left">
                        <img class="project-body__image" src="{{section.image1}}" alt="{{section.alt1}}" width="384" loading="lazy">
                    </div>
                    <div class="project-body__column project-body__column--right">
                        <img class="project-body__image" src="{{section.image2}}" alt="{{section.alt2}}" width="384" loading="lazy">
                    </div>
                </div>
                <script>
                    let columns = document.getElementsByClassName("project-body__column");
                    function throttle(fn, wait) {
                        let time = Date.now();
                        return function() {
                            if ((time + wait - Date.now()) < 0) {
                                fn();
                                time = Date.now();
                            }
                        }
                    }
                    function moveColumns() {
                        let vh = window.innerHeight / 25;
                        let columnsPercent = columns[0].parentElement.getBoundingClientRect().top / vh / 2;
                        columns[1].style.transform = "translateY(" + columnsPercent + "%)";
                        columns[0].style.transform = "translateY(" + (-columnsPercent) + "%)";
                    }
                    window.addEventListener("scroll", throttle(moveColumns, 10));
                </script>
                {% elseif section.type === 'bgcolumns' %}
                <div class="project-body__bgcolumns"{% if section.background | length > 0 %} style="background-color: {{section.background}};"{% endif %}>
                    <div class="project-body__bgcolumn project-body__bgcolumn--left">
                        <img class="project-body__image" src="{{section.image1}}" alt="{{section.alt1}}" width="600" loading="lazy">
                    </div>
                    <div class="project-body__bgcolumn project-body__bgcolumn--right">
                        <img class="project-body__image" src="{{section.image2}}" alt="{{section.alt2}}" width="600" loading="lazy">
                    </div>
                </div>
                <script>
                    let bgcolumns = document.getElementsByClassName("project-body__bgcolumn");
                    function throttle(fn, wait) {
                        let time = Date.now();
                        return function() {
                            if ((time + wait - Date.now()) < 0) {
                                fn();
                                time = Date.now();
                            }
                        }
                    }
                    function moveColumns() {
                        let vh = window.innerHeight / 25;
                        let columnsPercent = bgcolumns[0].parentElement.getBoundingClientRect().top / vh / 2;
                        bgcolumns[1].style.transform = "translateY(" + columnsPercent + "%)";
                        bgcolumns[0].style.transform = "translateY(" + (-columnsPercent) + "%)";
                    }
                    window.addEventListener("scroll", throttle(moveColumns, 10));
                </script>
                {% endif %}
            </div>
            {% endfor %}
            <dl class="project-footer container">
                {% for role in tab.roles %}
                <div class="project-footer__item">
                    <dt>{{role.role}}</dt>
                    <dd>{% for person in role.people %}
                        <span>{{person.name}}</span><br>
                        {% endfor %}</dd>
                </div>
                {% endfor %}
                {% if tab.font|length %}
                <div class="project-footer__item project-footer__item--right">
                    <dt>Гарнитура</dt>
                    <dd>{{tab.font}}</dd>
                </div>
                {% endif %}
                {% if not tab.date == '' %}
                <div class="project-footer__item{% if tab.font|length === 0 %} project-footer__item--right{% endif %}">
                    <dt>Дата выпуска</dt>
                    <dd>{{ tab.date | readableDate }}
                        {% if not tab.days == ''  %}
                        <br><span class="project-footer__days">Сделано за {{tab.days | pluralize('день','дня','дней')}}</span>
                        {% endif %}</dd>
                </div>
                {% endif %}
            </dl>
        </div>
        {% endfor %}
    </article>
    {% if suggestions %}
    <section class="container">
        <h2 class="section__title">Другие проекты</h2>
        <ul class="projects">
        {% for suggestion in suggestions %}
            {% for projectItem in collections[suggestion] %}
                {% include "partials/item.html" %}
            {% endfor %}
        {% endfor %}
        </ul>
    </section>
    {% endif %}
</main>
{% if currentPage.tabs|length > 1 %}<script src="{{ '/static/js/van11y.js' | url }}"></script>{% endif %}