---
layout: blog
---
{% set postslist = collections.post %}

{% for post in postslist | reverse %}
    <article class="blog-article">
        <h2 class="blog-article__heading">
            <a class="link--solid" href="{{ post.url | url }}">
                {% if post.data.title %}
                    {{ post.data.title }}
                {% else %}
                    Безымянная запись
                {% endif %}
            </a>
        </h2>
        {% if post.data.description %}
        <p class="blog-article__description">
            {{ post.data.description }}
        </p>
        {% endif %}
    </article>
{% endfor %}