---
layout: blog
---
{% set postslist = collections.post %}

{% for post in postslist | reverse %}
    <article class="blog-article">
        <h2 class="section__heading">
            <a class="link--solid link--solid_text" href="{{ post.url | url }}">
                {% if post.data.title %}
                    {{ post.data.title }}
                {% else %}
                    Безымянная запись
                {% endif %}
            </a>
        </h2>
        <p>
            <time>
                {{ post.date | readableDate }}
                by
                <a>{{ post.data.author }}</a>

            </time>
        </p>
        {% if post.data.description %}
            <p>
                {{ post.data.description }}
            </p>
        {% endif %}

        <p>
            <a class="link--solid" href="{{ post.url | url }}">
                Читать далее →
            </a>
        </p>

    </article>
{% endfor %}