@font-face {
  font-family: "Xprmntl02";
  src: url("../fonts/Xprmntl02-Regular-Web.woff2") format("woff2"),
       url("../fonts/Xprmntl02-Regular-Web.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Xprmntl02";
  src: url("../fonts/Xprmntl02-Italic-Web.woff2") format("woff2"),
       url("../fonts/Xprmntl02-Italic-Web.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
::-moz-focus-inner {border:0;}
.visually-hidden { 
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body {
  margin: 0;
  color: #222;
  font-family: "Xprmntl02", serif;
  scroll-behavior: smooth;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
}
main {
  display: block;
  flex-grow: 1;
}
img {
  vertical-align: middle;
}
.text--gray {
  color: #999;
}
.link--solid {
  text-decoration: none;
  color: inherit;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(34,34,34,.25);
  transition: border-bottom-color .2s, color .2s;
}
.link--solid_text {
  border-bottom: 0;
  padding-bottom: 0;
}
.link--solid:hover {
  color: #E92515;
  border-bottom-color: rgba(255, 46, 78, .25);
}
.container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  width: 100%;
  max-width: 36.5rem;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
/* 768px */
@media (min-width: 48em) {
  body {
    font-size: 1.25em;
  }
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
/* 1320px */
@media (min-width: 82.5em) {
  .container {
    max-width: 77.5rem;
  }
}
/* 1920px */
@media (min-width: 118em) {
  body {
    font-size: 175%;
  }
}

/* Header */
.page-header {
  padding-top: .5em;
  padding-bottom: 1em;
}
.page-header__home {
  text-decoration: none;
  color: inherit;
}
.page-header__logo {
  width: 5.75em;
  height: auto;
}
.page-header__list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 1em -.5em 0;
}
.page-header__item:not(:last-child) {
  margin-right: .3125em;
  margin-bottom: .3125em;
}
.page-header__item--desktop {
  display: none;
}
.page-header__link {
  display: block;
  border: 1px solid #000;
  color: inherit;
  text-decoration: none;
  padding: .1em .75em;
  border-radius: 1em;
  transition: color .2s, background-color .3s;
}
.page-header__link[aria-current],
.page-header__link:hover {
  background-color: #222;
  color: #fff;
}
@media (min-width: 25.75em) {
    .page-header__link {
        padding-left: .75em;
        padding-right: .75em;
    }
}
@media (min-width: 48em) {
  .page-header {
    display: flex;
    justify-content: space-between;
  }
  .page-header__home {
    margin-right: 1.25em;
  }
  .page-header__list {
    display: flex;
    margin-top: .4em;
  }
  .page-header__logo {
    width: 4.6em;
  }
}
@media (min-width: 82.5em) {
  .page-header__nav {
    flex-grow: 1;
  }
  .page-header__item--margin {
    margin-left: auto;
  }
  .page-header__item--desktop {
    display: inline-block;
  }
}
@media (min-width: 118em) {
  body {
    font-size: 175%;
  }
}

/* Footer */
.page-footer {
  display: flex;
  flex-wrap: wrap;
  font-size: 93.75%;
  padding-bottom: 1em;
}
.page-footer__margin {
  flex-basis: 100%;
}
.page-footer__link {
  margin-right: .3125em;
  margin-bottom: .5em;
}
.page-footer__link--comma::after {
  content: ",";
}
@media (min-width: 82.5em) {
  .page-footer {
    font-size: 100%;
  }
  .page-footer__margin--span {
    flex-basis: auto;
    flex-grow: 1;
  }
  .page-footer__link--comma {
    margin-right: 2em;
  }
  .page-footer__link--comma::after {
    content: none;
  }
  .page-footer__link {
    margin-bottom: 1em;
  }
  .page-footer__link--policy {
    order: -1;
  }
}

/* Home */
.home-lead {
  margin-top: 1.75em;
  max-width: 58em;
  line-height: 1.9;
  margin-bottom: 2.2em;
}
.home-lead__text {
  font-weight: normal;
  margin: 0;
  display: inline;
  font-size: 125%;
  line-height: 125%;
}
.projects {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-right: -1.25em;
}
.projects__item {
  margin-bottom: 2.5em;
  margin-right: 1.25em;
  flex-basis: 11rem;
  flex-grow: 1;
}
.projects__item--wide {
  flex-basis: 23.15rem;
  flex-grow: 2;
}
@media (min-width: 25.75em) {
    @supports (grid-auto-flow: row dense) {
        .projects {
            display: grid;
            margin-right: 0;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 1.25em;
            grid-row-gap: 2.5em;
            grid-auto-flow: row dense;
        }
        .projects__item {
            margin: 0;
        }
        .projects__item--wide {
            grid-column: span 2;
        }
    }
}
.projects__link {
  display: block;
  color: inherit;
  text-decoration: none;
  position: relative;
  transition: color .2s ease-out;
}
.projects__cover_wrapper {
  overflow: hidden;
  display: block;
}
.projects__cover {
  width: 100%;
  object-fit: cover;
  margin-bottom: .4em;
  transition: transform .5s ease-in-out;
  transform-origin: bottom;
}
.projects__title {
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(34,34,34,.25);
  transition: border-bottom-color .2s;
  line-height: 1.75;
}
.projects__express {
  margin-bottom: -.4em;
  width: 1.2em;
  height: auto;
  position: absolute;
  top: .2em;
  mix-blend-mode: exclusion;
  transition: stroke .1s;
}
.projects__link:hover .projects__title {
  border-bottom-color: rgba(255, 46, 78, .25);
}
.projects__link:hover .projects__express {
  stroke: #E92515;
  mix-blend-mode: normal;
}
.projects__link:hover {
  color: #E92515;
}
.projects__link:hover .projects__cover {
  transform: scale(1.015);
}
.projects__link[target="_blank"] .projects__title::after,
.project-page__heading .link--solid::after {
  content: " ↗︎";
}
.projects--express-only .projects__express {
  display: none;
}
@media (min-width: 48em) {
  .home-lead {
    margin-top: 6.5em;
    margin-bottom: 3em;
  }
  .home-lead__text {
    font-size: 200%;
    line-height: 135%;
  }
  .projects {
    margin-right: -1.5em;
  }
  .projects__item {
    margin-right: 1.5em;
    margin-bottom: 3em;
  }
  @supports (grid-auto-flow: row dense) {
      .projects {
          grid-column-gap: 1.5em;
          grid-row-gap: 3em;
      }
      .projects__item {
          margin: 0;
      }
  }
}
@media (min-width: 82.5em) {
  .home-lead__text {
    font-size: 240%;
    line-height: 125%;
  }
  @supports (display: grid) {
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }
  }
}

/* Sections */
.section--top {
  margin-top: 2em;
}
.section__text {
  font-size: 100%;
  max-width: 82%;
  line-height: 150%;
}
.section__heading {
  margin-top: 0;
  font-size: 125%;
  line-height: 1.4;
  font-weight: normal;
  margin-bottom: .55em;
}
.section--bottom {
  margin-bottom: 4.25em;
}
@media (min-width: 48em) {
  .section--top {
    margin-top: 6.35em;
  }
  .section__text {
    font-size: 100%;
    max-width: 82%;
    line-height: 150%;
  }
  .section__heading {
    font-size: 200%;
    line-height: 1.37;
  }
}
@media (min-width: 82.5em) {
  .section--top {
    margin-top: 9.75em;
  }
  .section__heading {
    font-size: 240%;
    line-height: 1.25;
  }
  .section--bottom {
    margin-bottom: 7.5em;
  }
}

/* About */
.section-who {
  margin-bottom: 1.4em;
}
.section-who__lead {
    display: block;
    background-color: #FFF48D;
    text-align: center;
    padding: 2em 1.5em;
    border-top-left-radius: 40% 60%;
    border-top-right-radius: 60% 40%;
    border-bottom-left-radius: 60% 40%;
    border-bottom-right-radius: 40% 60%;
    line-height: 1.5;
    font-size: 125%;
    margin-left: -.75rem;
    margin-right: -.75rem;
}
.team {
  list-style: none;
  padding: 0;
  text-align: center;
  margin-top: 0;
  margin-bottom: 3.6em;
}
.team__item:not(:last-child) {
  margin-bottom: 4.3em;
}
.team__photo {
  width: 15em;
  max-width: 100%;
  height: auto;
}
.team__title {
  font-size: 112.5%;
}
.section-principles {
  margin-top: 3em;
  margin-bottom: 3.25em;
}
.section-principles__lines {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 1.85em;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section-principles__line {
  will-change: transform;
  padding-left: .25em;
  margin-left: -.25em;
  margin-top: 0;
  margin-bottom: 0;
  color: #999;
  font-style: italic;
}
.principles-manifest {
  background-color: #FFF48D;
  border-radius: 1em;
  padding: 1.5em 1.25em .1em;
  margin-left: -.625em;
  margin-right: -.625em;
  margin-top: 2.75em;
}
.principles-manifest__list {
  margin-top: 1.7em;
  padding-left: 0;
  list-style-position: inside;
}
.principles-manifest__item {
  margin-bottom: 1.4em;
  font-size: 93.75%;
}
.section-contact__text {
  font-size: 93.75%;
  max-width: 85%;
  line-height: 133%;
  margin-bottom: 1.5em;
}
@media (min-width: 48em) {
  .section-who__lead {
    font-size: 1.4em;
    width: 14.5em;
    padding: 3em .6em;
    margin-left: .2em;
    margin-top: 1.25em;
    margin-bottom: 1.8em;
  }
  .team {
      display: flex;
      flex-wrap: wrap;
      font-size: 80%;
      margin-top: 6.2em;
      align-items: baseline;
      margin-bottom: -4.75em;
  }
  .team__item:nth-child(n) {
    flex-basis: 50%;
    margin-bottom: 4em;
  }
  .section-principles {
    margin-top: 3.5em;
    margin-bottom: 4em;
  }
  .section-principles__lines {
    margin-top: 1.25em;
    font-size: 150%;
    margin-bottom: 1.75em;
  }
  .principles-manifest {
    padding: 4.75em 2.5em 3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.75em;
  }
  .section__heading--manifest {
    font-size: 240%;
    margin-bottom: .4em;
  }
  .principles-manifest__list {
    margin-top: 0;
    padding: 0;
  }
  .principles-manifest__list .principles-manifest__item {
    margin-bottom: 1em;
  }
  .section-contact__text {
    font-size: 100%;
    line-height: 1.5;
  }
}
@media (min-width: 82.5em) {
  .section-who__lead {
    display: inline-block;
    font-size: 150%;
    line-height: 1.43;
    padding-top: 3.15em;
    padding-left: .4em;
    margin-top: 1.75em;
  }
  .team {
    margin-top: 5em;
    margin-bottom: -5.25em;
  }
  .team__item:nth-child(n) {
    flex-basis: 33%;
    margin-bottom: 5.5em;
  }
  .section__heading--contact {
    margin-bottom: .4em;
  }
  .section-contact__text {
    max-width: 48.75%;
    margin-bottom: 1em;
  }
  @supports (display: grid) {
    .section--grid {
      display: grid;
      column-gap: 1.5em;
      row-gap: 1em;
      grid-template-columns: 1fr 1fr;
    }
    .section-who__lead {
      grid-column: 2/3;
      grid-row: 1/5;
      align-self: center;
      max-width: none;
      margin-left: 10%;
    }
    .section__heading--manifest {
      margin-bottom: .5em;
    }
    .principles-manifest__item {
      max-width: 90%;
    }
    .section-principles {
      grid-template-rows: min-content min-content min-content min-content min-content 1fr 13.5em;
      margin-bottom: 5em;
    }
    .section__text {
      max-width: none;
      margin: 0;
    }
    .section__text--principles {
      grid-column: 1/2;
    }
    .principles-manifest {
      grid-column: 1/2;
      grid-row: 6/8;
    }
    .section-principles__lines {
      grid-column: 2/3;
      grid-row: 3/7;
      padding-left: 35%;
      overflow-x: visible;
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      font-size: 240%;
      margin: 0;
    }
    .section-principles__line {
      transform: translateX(0) !important;
      position: -webkit-sticky;
      position: sticky;
    }
    .section-principles__line:nth-child(1) {
      top: 50%;
      margin-bottom: 6em;
    }
    .section-principles__line:nth-child(2) {
      top: 60%;
      margin-bottom: 4.5em;
    }
    .section-principles__line:nth-child(3) {
      top: 70%;
      margin-bottom: 3em;
    }
    .section-principles__line:nth-child(4) {
      top: 80%;
      margin-bottom: 1.5em;
    }
    .section-principles__line:nth-child(5) {
      top: 90%;
    }
  }
}

/* Price */
.section-covid {
  position: relative;
}
.section-covid__text,
.section-tariffs .section__text,
.price-list__lead,
.section-order__lead_text,
.section-steps .section__text,
.section-steps__step {
  max-width: 82.5%;
  font-size: 93.75%;
  line-height: 1.33;
  margin-bottom: 1.3em;
}
.section-covid__labels {
  display: none;
}
.price-list__heading {
  font-size: 125%;
  font-weight: normal;
  line-height: 150%;
  margin: 0 0 .55em;
}
.price-list__item {
  margin-left: -.625em;
  margin-right: -.5em;
  border: 1px solid #999;
  border-radius: 1em;
  margin-bottom: 1em;
  padding: 1.5em 1.2em 1.25em;
}
.price-list__features {
  list-style-type: none;
  padding-left: 0;
  margin: 0 0 1.625em;
}
.price-list__feature {
  margin-bottom: 1.35em;
  font-size: 93.75%;
  line-height: 1.35;
}
.price-list__feature::before {
    content: '✓ ';
}
.price-list__value--big {
  font-size: 2.25em;
}
.section-tariffs,
.section-steps {
  margin-top: 3em;
}
.section__text--first {
  margin-top: 0;
}
.price-list--tariffs {
  margin-bottom: 2em;
}
.price-list__item--recommended {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 5' fill='%23FFF48D'%3E%3Crect width='1' height='4'/%3E%3C/svg%3E") center /contain repeat-x #fff;
  background-attachment: fixed;
  position: relative;
  transition: border-color .5s;
  border-color: transparent;
}
.price-list__item--recommended::before {
  content: 'рекомендуем';
  font-style: italic;
  background-color: #F24E29;
  color: #fff;
  border-radius: 50%;
  padding: 1.5em 1em;
  position: absolute;
  top: -1.2em;
  right: 0;
  transform: rotate(-15deg);
  font-size: 90%;
}
.price-list__item--seen {
  background-color: #FFF48D;
  background-attachment: scroll;
}
.section-steps__list {
  margin-top: 3.85em;
  list-style: none;
  padding-left: 0;
  counter-reset: number;
}
.section-steps__link--solid  {
  display: inline-block;
}
.section-steps__step {
  margin-top: 4em;
}
.section-steps__step::before {
  font-size: 4.5em;
  font-style: italic;
  color: red;
  counter-increment: number;
  content: counter(number);
  padding-left: .75rem;
}
.section-steps__text {
  margin-top: 1.3em;
}
.section-order {
  margin-top: 3em;
}
.section-order__lead_text:first-child {
  margin-top: 0;
}
.section-order__lead_text:last-child {
  margin-bottom: 0;
}
.section-order__form {
    padding-right: 1em;
}
.section-order__row {
  margin-top: .75em;
  position: relative;
  margin-bottom: 1.5em;
}
.section-order__label {
  color: #999;
  position: absolute;
  left: .5rem;
  top: 1em;
  transform: translateY(-100%);
  transition: transform .4s, color .4s;
  pointer-events: none;
  transform-origin: top left;
}
.section-order__field {
  border: 0;
  border-bottom: 1px solid #999;
  padding: 1em .5em .5em;
  font: inherit;
  width: 100%;
  resize: vertical;
  min-height: 1em;
  max-height: 10em;
  border-radius: 0;
  margin: 0;
  transition: color .4s;
}
.section-order__field:focus {
  outline: none;
  border-bottom-color: #5037ff;
}
.section-order__field::placeholder {
  opacity: 0;
}
.section-order__field:placeholder-shown + .section-order__label {
    transform: translateY(0);
}
.section-order__field:focus + .section-order__label {
    transform: translateY(-100%);
    color: #5037ff;
}
.section-order__btn {
  background-color: #555;
  color: #fff;
  padding: .8em 1em;
  margin: 0;
  border-radius: 1.5em;
  font: inherit;
  border: 0;
  flex-grow: 1;
  -webkit-appearance: none;
  transition: background-color .2s;
}
.section-order__btn:enabled {
  cursor: pointer;
  background-color: #5A3FFF;
}
.section-order__btn:enabled:hover {
  background-color: #E92515;
}
.section-order__btn:disabled::after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis steps(4,end) 1000ms infinite;
  content: "\2026";
  width: 0;
}
@keyframes ellipsis {
  to {
      width: .75em;    
  }
}
@media (min-width: 48em) {
  .section-covid {
    margin-bottom: 3.5em;
  }
  .section__heading--covid {
    margin-top: 0;
  }
  .section-covid__text {
    font-size: 100%;
  }
  .section-covid__labels {
    margin-top: 5em;
    display: block;
  }
  .section-covid__label {
    margin: 0;
    font-style: italic;
    text-align: left;
  }
  .section-covid__label--sticker {
    display: block;
    align-items: center;
    position: absolute;
    bottom: 4.5em;
    right: 1em;
    color: #fff;
    font-size: .75em;
  }
  .section-covid--sticker__bg {
    display: block;
    background: url('../img/sticker.svg') center /contain no-repeat;
    padding: 6.75em;
  }
  .section-covid--sticker__label {
    display: block;
    font-size: 1.75em;
    position: absolute;
    top: 30%;
    left: 11%;
    transform: rotate(-10deg);
    line-height: 143%;
    width: 80%;
  }
  .section-covid__label--triangle,
  .section-covid__label--oval,
  .section-covid__label--hexagon {
    display: none;
  }
  .price-list {
    margin-right: -1.5em;
    display: flex;
    flex-wrap: wrap;
  }
  .price-list__item {
    margin-left: 0;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
    padding: 1.2em 1.5em 1.675em;
    border-radius: .75em;
  }
  .price-list__item--identity,
  .price-list__item--landing {
    flex-basis: 35%;
  }
  .price-list__heading {
    font-size: 1.735em;
    line-height: 143%;
    margin-bottom: .3em;
  }
  .price-list__features {
    margin-top: .5em;
    margin-bottom: .75em;
    font-size: 90%;
  }
  .price-list__feature {
    margin-bottom: .95em;
    line-height: 1.33;
    max-width: 20em
  }
  .price-list__value {
    margin-top: auto;
  }
  .price-list__value--big {
    font-size: 1.8em;
  }
  .price-list--tariffs {
    max-width: 82.5%;
    margin-bottom: 1.25em;
  }
  .price-list__lead {
    margin-top: 0;
    font-size: 90%;
    max-width: 75%;
  }
  .price-list--tariffs .price-list__item {
    margin-right: 0;
    padding-top: 1.45em;
  }
  .price-list--tariffs .price-list__features {
    margin-top: 0;
  }
  .price-list--tariffs .price-list__heading {
    margin-bottom: .6em;
  }
  .price-list__item--recommended::before {
    font-size: 90%;
  }
  .section-steps__step {
    position: relative;
    padding-left: 3.4em;
  }
  .section-steps__step::before {
    font-size: 3.6em;
    position: absolute;
    left: 0;
    top: 0;
  }
  .section-steps__step:nth-child(2) {
    margin-left: 18.5%;
  }
  .section-steps__text {
    margin-top: 0;
  }
  .section-order {
    margin-top: 5em;
  }
  .section-order__lead {
    margin-bottom: 3.75em;
  }
  .section-order__form {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-right: -1.5rem;
  }
  .section-order__row {
    font-size: 90%;
    padding-right: 1em;
    flex-basis: 100%;
    flex-grow: 1;
    margin-right: 1.5em;
    margin-bottom: 2em;
  }
  .section-order__row--short {
      flex-basis: 13em;
  }
  .section-order__label {
      left: .5em;
      transform: translateY(-100%) scale(.8);
  }
  .section-order__field:focus + .section-order__label {
      transform: translateY(-100%) scale(.8);
  }
  .section-order__field {
      padding-top: 1.25em;
  }
  .section-order__btn {
    margin-right: 1.25em;
  }
}
@media (min-width: 82.5em) {
  .section-covid__text {
    line-height: 1.37;
  }
  .price-list__item--logotype,
  .price-list__item--multipage {
    flex-basis: 50%;
  }
  .price-list__item--identity {
      flex-basis: 33.2%;
  }
  .price-list__item--landing {
      flex-basis: 33.4%;
  }
  .price-list__heading {
    font-size: 1.725em;
  }
  .price-list--tariffs {
    max-width: none;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
  }
  .price-list--tariffs .price-list__item {
    flex-basis: 20%;
    margin-right: 1.5em;
    margin-bottom: 0;
  }
  .section__heading--tariffs {
    max-width: 66.6%;
  }
  .section-tariffs > .section__text {
    max-width: 50%;
    margin-bottom: 1em;
    font-size: 100%;
  }
  .price-list__item--recommended::before {
      top: -.8em;
      right: -1.1em;
  }
  .section-steps {
    margin-top: 5em;
  }
  .section-steps > .section__text {
    max-width: 50%;
    font-size: 100%;
  }
  .section-steps__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3.1em;
    margin-left: -.6em;
  }
  .section-steps__step {
    flex-grow: 1;
    max-width: none;
    flex-basis: 25%;
    margin-top: 0;
    padding-top: .25em;
  }
  .section-steps__step:nth-child(2) {
    margin-left: 0;
  }
  .section-steps__step:not(:last-child) {
    padding-right: 1em;
  }
  .section-order {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .section__heading--order {
    flex-basis: 100%;
    margin-bottom: 1em;
  }
  .section-order__form {
    flex-basis: 50%;
  }
  .section-order__lead {
    flex-basis: 45%;
  }
  @supports (display: grid) {
    .section__heading--covid {
        grid-row: 1/2;
        grid-column: 1/3;
        max-width: 66.6%;
        margin: 0;
    }
    .section-covid__label--triangle,
    .section-covid__label--oval,
    .section-covid__label--hexagon {
        display: inline-block;
        font-size: 1.75em;
        line-height: 143%;
    }
    .section-covid__label--triangle {
        padding: 2.9em 1.9em .9em;
        background: url('../img/triangle.svg') center /contain no-repeat;
        transform: rotate(26deg);
        width: 3.5em;
        border-radius: 5px;
        margin-top: -3.1em;
        margin-right: 2.1em;
    }
    .section-covid__label--oval {
        padding: 1.35em .3em 1.45em 1.2em;
        background-color: #FFF48D;
        border-radius: 50%;
        transform: rotate(4deg);
        width: 10em;
        margin-top: -3.1em;
        margin-right: 6.75em;
    }
    .section-covid__label--hexagon {
        background: url('../img/hexagon.svg') left /contain no-repeat;
        transform: rotate(-5deg);
        padding: .65em 1.8em .6em 1.8em;
        border-radius: 10px;
        max-width: 9em;
        margin-top: -0.3em;
        margin-right: 5.3em;
    }
    .section-covid__text {
        grid-column: 1/2;
        margin: 0;
        max-width: none;
    }
    .section-covid .price-list {
        grid-column: 1/3;
        grid-row: 5/6;
    }
    .section-covid__labels {
        grid-column: 2/3;
        grid-row: 1/6;
        position: relative;
        height: 100%;
        z-index: 1;
        text-align: right;
    }
    .price-covid-label {
        text-align: left;
    }
    .section-covid__label--sticker {
        position: -webkit-sticky;
        position: sticky;
        top: 30%;
        margin-left: 15.4em;
        margin-top: -12.8em;
        margin-bottom: 8em;
        font-size: 100%;
    }
    .section-covid--sticker__label {
        display: block;
        font-size: 1.75em;
        position: absolute;
        top: 2.35em;
        left: 21%;
        transform: rotate(-10deg);
        line-height: 143%;
        width: 6em;
    }
  }
}

/* Blog */
.blog-article {
  margin-top: 2em;
}
.blog-article__heading {
  font-weight: inherit;
  font-size: 1em;
}
.blog-article__description {
  line-height: 1.5;
}
@media (min-width: 48em) {
  .blog-article__heading {
    font-size: 1.5em;
  }
}
@media (min-width: 82.5em) {
  .blog-article__heading {
    font-size: 2em;
  }
  .blog-article {
    padding-right: 20em;
  }
}

/* Portfolio */
.project-links {
  text-align: center;
  font-size: 90%;
  color: #999;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.project-links__item {
  display: inline;
}
.project-links__item:not(:last-child) {
  margin-right: 1em;
}
.project-links__link {
  text-decoration: none;
  color: inherit;
  transition: color .2s, background-color .2s;
  padding-bottom: 3px;
  margin-bottom: 1em;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}
.project-links__link:hover {
  color: #222;
  }
.project-links__link[aria-selected="true"] {
  color: #222;
  border-bottom-color: currentColor;
  pointer-events: none;
}
.express-icon {
  text-align: center;
}
.express-icon__link {
  color: #999;
  transition: color .2s;
}
.express-icon__link:hover {
  color: #222;
}
.express-icon__svg {
  stroke: currentColor;
  width: 1em;
  height: auto;
}
.project-page[aria-hidden="true"],
.project-tabs__body[aria-hidden="true"] {
  display: none;
}
.project-page__heading {
  font-weight: normal;
  line-height: 1.4;
  font-size: 125%;
  margin-bottom: .75em;
  text-align: center;
}
.project-tabs {
  background-color: #F4F4F4;
  padding: .222em;
  border-radius: .666em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 90%;
  max-width: 26em;
  list-style: none;
  margin: 0 auto;
  text-align: center;
}
.project-tabs__item {
  display: inline-block;
  flex-grow: 1;
}
.project-tabs__link {
  border-radius: .555em;
  display: block;
  line-height: 1.4;
  padding-top: .222em;
  padding-bottom: .222em;
  color: inherit;
  text-decoration: none;
  transition: color .2s, background-color .2s;
  cursor: pointer;
}
.project-tabs__link[aria-selected="true"] {
  background-color: #fff;
  cursor: default;
  pointer-events: none;
}
.project-tabs__link:not([aria-selected="true"]):hover {
  color: #E92515;
}
.project-tab__archived {
  line-height: 1.5;
  text-align: center;
  color: #999;
  margin-bottom: 0;
}
.project-tabs__body {
  margin-top: 1.75em;
}
.project-tabs__body p {
  line-height: 1.5;
}
.project-body__image {
  max-width: 100%;
  height: auto;
}
.project-body__image--wide {
  width: 100%;
}
.project-body__image--margins {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.project-body__block--wide + .project-body__block--paragraph {
  margin-top: 3.75em;
}
.project-body__block--wide + .project-body__block--wide {
  margin-top: 1.5em;
}
.project-body__columns {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1.875em;
  margin-bottom: 3.75em;
}
.project-body__column--left {
  margin-top: 4em;
  margin-right: 1em;
}
.project-body__bgcolumns {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 20em;
  overflow-y: hidden;
}
.project-body__bgcolumn--left {
  margin-right: .5em;
}
.project-footer:not(:empty) {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3em;
}
.project-footer__item {
  flex-basis: 11.75em;
  margin-bottom: 1em;
}
.project-footer__item dt {
  font-size: 75%;
  margin-bottom: .5em;
}
.project-footer__item:not(:last-child) dt {
  text-transform: lowercase;
}
.project-footer__item dd {
  margin: 0;
}
.project-footer__item span {
  display: inline-block;
  margin-bottom: .33em;
}
.project-footer__days {
  margin-top: 1.4em;
  font-size: 75%;
}

@media (min-width: 48em) {
  .project-page__heading {
    font-size: 2.3em;
    line-height: 1.25;
    margin-bottom: .55em;
  }
  .project-body__image--margins {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .project-body__columns {
    margin-top: 2em;
    margin-bottom: 5em;
  }
  .project-body__column--left {
    margin-right: 6em;
  }
  .project-body__bgcolumns {
    height: 40em;
  }
  .project-body__block--bgcolumns + .project-body__block--paragraph,
  .project-body__block--wide + .project-body__block--paragraph {
    margin-top: 5em;
  }
}
@media (min-width: 82.5em) {
  .container--single {
    max-width: 44em;
  }
  .project-footer__item--right {
    margin-left: auto;
  }
  .project-footer__item {
    flex-basis: initial;
  }
  .project-footer__item:not(:last-child) {
    padding-right: 2.4em;
  }
}

/* Themes */
.theme--black {
  background-color: #000;
  color: #fff;
}
.theme--black .page-header__logo {
  filter: invert(1) brightness(1.5);
}
.theme--black .page-header__link {
  border-color: #fff;
}
.theme--black .page-header__link:hover {
  background-color: #fff;
  color: #222;
}
.theme--black .project-tabs {
  background-color: #222;
}
.theme--black .project-tabs__link[aria-selected="true"] {
  color: #000;
}
.theme--black .express-icon__link:hover {
  color: #fff;
}