---
layout: portfolio
path: home
---
{% set portfolio = collections.portfolio %}
<ul class="projects" id="projects">
{% for project in portfolio %}
    <li class="projects__item {% if project.data.wide %}projects__item--wide{% endif %}">
        <a class="projects__link" {% if project.data.url | length %}href="{{project.data.url}}" target="_blank"{% else %}href="{{ project.url | url }}"{% endif %}>
            <img class="projects__cover" src="{{project.data.cover}}" alt="" loading="lazy" width="{% if project.data.wide %}560{% else %}280{% endif %}" height="430">
            <span class="projects__title">{{project.data.title}}</span>
            {% if project.data.express %}
                <svg class="projects__express" viewBox="0 0 24 42" width="23" height="27" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#222" stroke-miterlimit="8" stroke-width="2"><polygon points="20,2 15,18 25,20 3,40 10,22 0,20"></polygon></svg>
            {% endif %}
        </a>
    </li>
{% endfor %}
</ul>