<footer class="page-footer container">
    <span class="page-footer__margin page-footer__margin--span"></span>
    <a class="page-footer__link page-footer__link--comma link--solid" href="{{settings.ig}}" target="_blank" rel="noopener noreferrer">Инстаграм</a>
    <a class="page-footer__link page-footer__link--comma link--solid" href="{{settings.tg}}" target="_blank" rel="noopener noreferrer">Телеграм</a>
    <a class="page-footer__link link--solid" href="{{settings.vk}}" target="_blank" rel="noopener noreferrer">ВКонтакте</a>
    <span class="page-footer__margin"></span>
    <a class="page-footer__link page-footer__link--policy link--solid" href="{{settings.policy}}" target="_blank" rel="noopener noreferrer">Политика конфиденциальности</a>
    <span class="page-footer__margin"></span>
    <span class="footer-copyright">© 2017—{% currentYear %}, {{settings.name}}</span>
</footer>