<li class="projects__item {% if projectItem.data.wide %}projects__item--wide{% endif %}">
    <a class="projects__link" {% if projectItem.data.url | length %}href="{{projectItem.data.url}}?ref=lepekhin.art" target="_blank"{% else %}href="{{ projectItem.url | url }}"{% endif %}>
        <picture class="projects__cover_wrapper">
            <img class="projects__cover" src="{{projectItem.data.cover}}" alt="" loading="lazy" width="{% if projectItem.data.wide %}560{% else %}280{% endif %}" height="430">
        </picture>
        <span class="projects__title">{{projectItem.data.title}}</span>
        {% if projectItem.data.express %}
            <svg class="projects__express" viewBox="0 0 24 42" width="23" height="27" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#222" stroke-miterlimit="8" stroke-width="2"><polygon points="20,2 15,18 25,20 3,40 10,22 0,20"></polygon></svg>
        {% endif %}
    </a>
</li>